/* General styles */
body {
  font-family: 'Poppins', sans-serif; /* Use Poppins font as the default font for the entire document */
}

.rating-container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-container-img {
  display: block;
  margin: 0 auto;
  size: 50px;
}

.rating-container p {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 40px;
}

.emoji-ratings {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Ensure emojis are spread out evenly */
  user-select: none; /* Disable text selection */
}

.emoji-ratings div {
  text-align: center;
}

.emoji {
  font-size: 2rem;
}

.rating-text {
  margin-top: 5px;
  font-size: 0.8rem;
  margin-bottom: 120px;
  user-select: none; /* Disable text selection */
}

.feedback-message {
  font-size: 14px !important;
  user-select: none; /* Disable text selection */
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Review card styles */
.review-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
}

.review-card textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.review-card button {
  padding: 10px 20px;
  background-color: #00BFFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-card button:hover {
  background-color: #00BFFF;
}

.review-card h3 {
  margin-top: 0;
  margin-bottom: 10px; /* Added styles for "Write a review" text */
}


/* Thank you card styles */
.thank-you-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
}

.thank-you-card h3 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #00BFFF;
}

.thank-you-card p {
  margin: 10px 0;
  margin-bottom: 20px;
}


.thank-you-card a {
  color: #00BFFF;
  text-decoration: none;
}

.thank-you-card a:hover {
  text-decoration: underline;
}

/* Success checkmark animation styles */
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-container {
  width: 6.25rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  background: linear-gradient(to bottom right, #5de593, #41d67c);
  box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
              0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.75s ease-out forwards 0.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.check-background svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}

.check-shadow {
  bottom: calc(-15% - 5px);
  left: 0;
  border-radius: 50%;
  background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
  animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
                0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  25% {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
                0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  43.75% {
    transform: scale(1.15);
    box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
                0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
  }
  62.5% {
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
                0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
  }
  81.25% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
                0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
                0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
  }
}

@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }
  25% {
    opacity: 0.25;
  }
  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }
  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}