.restaurant-container {
  text-align: center;      
  border-radius: 8px;
  background-color: #5ce4e4;
  font-size: 24px;
  margin: 5px;
  padding: 10px;
  color: #324B4B;
}

.selectWorker-container {
  text-align: left;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 28px;
  color: #324B4B;
}

.logo-container-main{ 
  text-align: left; /* Align the logo to the left */
  margin-bottom: 16px;
}

.tipzonn-logo-main {
  padding-top: 30px;
  padding-left: 10px;
  width: 160px; /* Adjust the size as needed */
  height: auto;
}

.worker-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 4px;
}

.worker-card {
  width: 110px; /* Adjust as necessary for padding/margins */
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Optional: add rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  transition: transform 0.2s; /* Optional: add a hover effect */
}

.worker-card:hover {
  transform: scale(1.05); /* Optional: slightly enlarge on hover */
}

.worker-image-wrapper {
  position: relative;
  width: 114px;
  height: 130px;
  border-radius: 8px; /* Optional: add rounded corners */
  overflow: hidden;
  margin: 0 auto; /* Center the image wrapper */
}

.worker-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image is center-cropped */
}

.worker-name-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Grey transparent background */
  color: white;
  text-align: center;
}

.worker-name {
  padding: 5px 0;
  font-size: 16px;
}

.tip-all-card {
  background-color: grey; /* Change the background color */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 114px;
}

.tip-all {
  font-size: 22px;
  color: #FFFFFF; /* Change text color if needed */
}